html {
	height: 100%;
}

html,body * {
	margin: 0;
	padding: 0;
}

body {
	/*background: url(../images/background_gradient.png) repeat-x #6EA0DE;*/
	background: -moz-element(#bg-gradient);
	padding: 0 13px 0 13px;
	position: relative;
}

a:hover {
	text-decoration: underline;
}


.hidden{
display:none;
}

/******
 Other
******/
#signin {
	display: none;
}
#main {
	height: 100%;
	position:absolute;
    min-width: 960px;
    width: 100%;
    left:0;
    top:0;
	
}
#main.login #signin {
	display: block;
}
#main.login {
    position:absolute;
    left:50%;
    top: 50%;
    width: 400px;
    height: 300px;
    min-width: 400px;
    margin: 0 0 0 -200px;
}

a {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 13px;
	color: #357EB6;
	text-decoration: none;
	cursor: pointer;
}
pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.menu2
{
    min-height: 21px;
    padding: 6px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.menu2 div.right
{
    float:right;
}

.menu2 div.left
{
    float:left;
}

.menu2 h3
{

}

div#wrapper {
	background: #FFF;
	border: 1px solid #5D88BC;
	-moz-border-radius: 13px;
	border-radius: 13px;
}

div#header {
	min-height: 48px;
}

div#wrapper,div#header,div#footer {
	
}

div#logo h1 a {
	background: url(../images/logos/szmail.png) no-repeat;
	display: inline-block;
	width: 90px;
	height: 40px;
	text-indent: -9999px;
}

div#logo h1 {
	display: inline;
}

div#logo {
	vertical-align: bottom;
	padding: 8px 0 0 13px;
}

a img {
	border: 0;
}

div#wrapper {
	padding: 13px;
}

div#aside {
	float: left;
	width: 200px;
	border-right: 1px solid #ddd;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}

div#aside a:active,div#aside a:focus {
	outline: 0;
}

table {
	table-layout: fixed;
}

#content {
	padding: 0 0 0 214px;
}

.content_wrapper
{
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #D0E4FD;
    background: #D0E4FD;
    padding: 3px;
}

.content
{
    background: #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #BBCDE3;
    padding: 7px;
}

/******
 Login
******/

#universalbar fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

#universalbar fieldset label {
	font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 13px;
	display: block;
}

#universalbar fieldset legend {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: #2C4B70;
    font-size: 21px;
    padding-bottom: 8px;
}

#universalbar fieldset input {
	width: 100%;
	font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 13px;
    height: 23px;
    border: 1px solid #ddd;
}

#universalbar .form.right {
	float:right;
}

#universalbar .form.menu {

}

#universalbar .form.group {
	padding: 0 0 0 3px;
	margin: 0 0 16px 4px;
	border-left: 2px solid #C0D4FF;
}

#universalbar fieldset .button a img {
	background: url(../images/control-power.png) no-repeat 5px 4px;
}

/********
 Buttons
********/
.button {
	transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
	text-align: left;
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
    height: 23px;
    background: url(../images/universalbar_bg.png) repeat-x;
    background: -moz-element(#button-gradient);
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #BBCDE3;
}

.button:hover{
	border-color:#5D88BC;}
.button a {
	width: 100%;
	line-height:21px;
	display: inline-block;
}
.button.left {
	-moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.button.right {
	-moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.button.center {
	-moz-border-radius: 0;
    border-radius: 0;
    border-width: 1px 0 1px 0;
}

.button a:hover {
	text-decoration: none;
}
.button.withText a {
	padding-right: 6px;
}
.button.withText a img {
	border-right: 1px solid #ddd;
	padding-right: 3px;
	margin-right: 3px;
}
.button a img {
	vertical-align: bottom;
    width: 23px;
    height: 23px;
}

/******
 Menus
******/
.menubar {
	display: table;
	width: 100%;
    height: 23px;
}
.menu {
    display: table-row;
}

.menu .button, .menu .spacer {
    display: table-cell;
}

/*****
 Tabs
*****/

ul.tabs {
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 13px;
    padding:0;
    margin:0;
    height:23px;
}

ul.tabs li {
	height: 23px;
	display: inline-block;
	line-height: 21px;
	list-style-type:none;
}

ul.tabs li a {
	display: block;
}

ul.tabs li a:hover {
	text-decoration: none;
}

ul.tabs li a img {
	margin-left:2px;
	width: 23px;
	height: 23px;
	vertical-align: bottom;
	background: url(../images/inbox.png) no-repeat 4px 3px;
}

/************
 Breadcrumbs
************/

ul.breadcrumbs {
	display: inline-block;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 13px;
    padding:0;
	color: #888;
	height:23px;
	line-height: 23px;
    overflow:hidden;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #ddd;
    background: url(../images/universalbar_bg.png) repeat-x;
    background: -moz-element(#button-gradient);
    margin: 0 0 8px 0;
}

ul.breadcrumbs li {
    list-style-type:none;
    float:left;
}

ul.breadcrumbs li a {
	display: block;
	padding-left:13px;
	background: url(../images/breadcrumb_separator.png) 2px 0px no-repeat;
	padding-right: 2px;
}

ul.breadcrumbs li:first-child a {
    padding-left:0;
    padding-right: 0;
    background: 0;
}
ul.breadcrumbs li:last-child {
    padding-right:8px;
    padding-left:13px;
    background: url(../images/breadcrumb_separator.png) 2px 0px no-repeat;
}

ul.breadcrumbs li a img {
	margin-left:2px;
	width: 23px;
	height: 23px;
	background: url(../images/inbox.png) no-repeat 4px 3px;
}



/*****************
 Inbox Navigation
*****************/

.navigation {
	width: 180px;
	padding: 3px;
	border: 1px solid #BBCDE3;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


.navigation ul {
	list-style: none;
}

.navigation ul li {
	height: 23px;
	margin: 0 0 4px 0;
}

.navigation ul li.active {
	border: 1px solid #609958;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: url(../images/background_button_green.png) repeat-x;
}

.navigation ul li.active a {
	font-weight: bold;
	color: #FFF;
	line-height: 23px;
	text-decoration: none;
	background-color: inherit;
}

.navigation ul li a {
	display: block;
	background-position: 3px 3px;
	background-repeat: no-repeat;
	line-height: 23px;
}

div#inbox_navigation li.active span.small {
	color: #fff;
}

div#inbox_navigation li span.small {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 10px;
	color: #AAA;
	text-align: right;
	padding: 3px 3px 0 0;
	float: right;
}

div#inbox_navigation li img.inbox {
	background-image: url(../images/inbox.png);
}

div#inbox_navigation li img.sent {
	background-image: url(../images/sent.png);
}

div#inbox_navigation li img.trash {
	background-image: url(../images/trashbin.png);
}

div#inbox_navigation li img.drafts {
	background-image: url(../images/drafts.png);
}

div#inbox_navigation li img.spam {
	background-image: url(../images/spam.png);
}

.navigation h3 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #333;
	margin: 7px 0 7px 0;
}

.navigation ul li.separator {
	margin: 3px 0 0 0;
	height: 1px;
	border-bottom: 1px solid #e6e6e6;
}

div#inbox_navigation li a.add_folder {
	font-style: italic;
}

.navigation ul li img {
	margin: 3px 4px 0 3px;
	float: left;
	width: 16px;
	height: 16px;
}

div#inbox_navigation li img.add_folder {
	background-image: url(../images/add_folder.png);
}

div#inbox_navigation li img.edit_folder {
	background-image: url(../images/edit_folder.png);
}

.navigation ul li.n a {
	font-style: italic;
}

div#inbox_navigation li img {
	background-image: url(../images/folder-horizontal.png);
}

div#inbox_navigation ul#folders li.active img {
	background-image: url(../images/folder-horizontal-open.png);
}

/*********

*********/

.settings.nav {
	position: relative;
	height: 23px;
}

.settings .wrapper {
	position: absolute;	
}

.settings ul li {
	padding-right: 8px;
}

.settings ul li:first-child {
	padding-left: 13px;
}

.settings ul li.active {
	background-color: #fff;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;	
	border-color: #BBCDE3 #BBCDE3 #FFF #BBCDE3;
	border-style: solid;
	border-width: 1px;
}

.settings ul li.servers img {
	background-image: url(../images/server.png);
}

.settings ul li.folders img {
	background-image: url(../images/folders.png);
}

.settings ul li.account img {
	background-image: url(../images/user-silhouette.png);
}
.navigation ul li.contacts img {
	background-image: url(../images/users.png);
}
.navigation ul li.themes img {
	background-image: url(../images/palette.png);
}

.navigation ul li.outboxes img {
	background-image: url(../images/server--arrow.png);
}

.settings .button.save img{
	background: url(../images/tick.png) 4px 4px no-repeat;
}
.settings .button.cancel img{
	background: url(../images/cross.png) 5px 4px no-repeat;
}


.settings fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.settings fieldset label {
	font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 13px;
	display: inline-block;
	width: 170px;
	line-height: 23px;
	float: left;
	height: 28px;
}

.settings fieldset legend {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: #2C4B70;
    font-size: 21px;
    padding-bottom: 8px;
}

.settings fieldset h4 {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: #2C4B70;
    font-size: 15px;
    padding-bottom: 8px;
    padding-top: 3px;
    clear: both;
}

.settings fieldset hr {
	border: 1px solid #C0D4FF;
	margin: 3px 0 6px 0; 
}

.settings fieldset input[type=text]:focus,
.settings fieldset input[type=password]:focus {
	box-shadow: 0 0 3px rgba(0,0,255,20);
    -webkit-box-shadow: 0 0 3px rgba(0,0,255,20); 
    -moz-box-shadow: 0 0 3px rgba(0,0,255,20); 
}


.settings fieldset input[type=text],
.settings fieldset input[type=password] {
	font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 13px;
    height: 23px;
    border: 1px solid #ddd;
    width: 200px;
    margin-bottom: 7px;
	transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
.settings fieldset input[type=checkbox] {
	float:left;
	margin: 5px 0 0 4px;
}
.settings fieldset .input input[type=text],
.settings fieldset .input input[type=password] {
	width: 100%;
}
.settings fieldset .input {
	padding-left: 170px;
}
.settings fieldset label.right {
	float: none;
	width: 400px;
	padding-left: 30px;
}

.settings fieldset .clear {
	clear: both;
}

.settings .description {
	font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 13px;
    color: #444;
    padding-bottom: 8px;
}
.settings div.right {
	text-align: right;
}


/**********
 Headerbar
**********/
#headerbar {
	padding: 17px 7px 5px 0px;
	float: right;
	font-size: 13px;
	color: #ddd;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	text-shadow: 1px 1px #555;
}

#headerbar a {
	font-size: 13px;
	display: inline-block;
	color: #fff;
}

#headerbar a.logout {
	padding: 2px 5px 2px 22px;
	background: url(../images/control-power.png) 2px 2px no-repeat;
}

.noborder {
	border: 0;
}

.clear {
	clear: both;
}

/*******
 Footer
********/
#footer {
	padding: 0 13px 0 0;
	color: #C1CEDE;
	text-shadow: 1px 1px #1A5DB1;
	text-align: right;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana, sans-serif;
}




/*************
 Universalbar
*************/

#universalbar {
	margin: 4px 0 10px 0;
}

#universalbar .spacer {
	width: 5px;
	min-width: 5px;
}

.button.reload a img {
    background: url(../images/reload.png) 4px 4px no-repeat;
}

.button.compose a img {
	background: url(../images/new_mail.png) no-repeat 5px 4px;
}
.button.compose a {
	display:inline-block;
}
.button.center {
	width: 100%;
}
.button.search, 
.button.go,
.button.reload {
    width: 23px;
    height: 23px;
}
 
.button.search a img {
    background: url(../images/search.png) 3px 4px no-repeat;
}
.button.go a img {
    background: url(../images/control.png) 4px 4px no-repeat;
}

#searchbox
{
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    height: 23px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: bottom;
}


#suggest
{
    display:none;
    position:absolute;
    width: 100%;
    z-index: 0;
    border: 1px solid #BBCDE3;
    background: #FFF;
}

#suggest li.active
{
    background: #FFF8E3;
}

#suggest li:first-child
{
    border-top: 0;
}

#suggest li
{
    list-style-type: none;
    height: 37px;
    border-top: 1px solid #BBCDE3;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}

#suggest li.search_mails
{
    background-image: url(../images/search_mail.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

#suggest li.new_mail
{
    background-image: url(../images/new_mail.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

#suggest li.active a
{
    font-weight: bold;
}
#suggest li a
{
    display: block;
    height: 100%;
    width: 100%;
    color: #535353;
    text-decoration: none;
    line-height: 18px;
    padding: 2px 2px 2px 37px;
}
#suggest li span.subject
{
    font-weight: normal;
    line-height: 15px;
    font-size: 11px;
    color: #9B9B9B;
}

#suggest li span.email
{
    color: #436572;
}


/*******

*******/

div#inbox_switcher img
{
	float: left;
	height: 16px;
	width: 16px;
	padding: 0 4px 0 0;
	margin: 0 0 0 3px;
}
div#inbox_switcher .gmail img{background: url(../images/gmail.png) no-repeat;}
div#inbox_switcher .gmx img{background: url(../images/gmx.png) no-repeat;}
div#inbox_switcher .all img{background: url(../images/inbox_full.png) no-repeat;}
div#inbox_switcher .settings img{background: url(../images/gear.png) no-repeat;}

div#inbox_switcher .dropdown dt
{
	display: block;
	margin: 4px 0 10px 0;
	height: 17px;
	width: 180px;
	padding: 3px;
	border: 1px solid #BBCDE3;
	background: url(../images/universalbar_bg.png) repeat-x;
	background: -moz-element(#button-gradient);
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div#inbox_switcher .dropdown dt span
{
	padding: 0;
	margin: 0;
	display: block;
	line-height: 19px;
}

div#inbox_switcher .dropdown ul
{
	margin: 0px;
	padding: 0px;
}

div#inbox_switcher .dropdown dd {
	position: relative;
}

div#inbox_switcher .dropdown a, div#inbox_switcher .dropdown a:visited {
	text-decoration: none;
	outline: none;
}

div#inbox_switcher .dropdown a:hover {
	
}

div#inbox_switcher .dropdown dt:hover {
	cursor: pointer;
	border-color: #5D88BC;
}


div#inbox_switcher .dropdown dt a span {
	display: block;
	background: url(../images/arrow.png) no-repeat scroll right center;
}

div#inbox_switcher .dropdown dd ul {
	background: #FFF;
	border: 1px solid #BBCDE3;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	display: none;
	left: 0px;
	padding: 0 3px 0 3px;
	top: -11px;
	position: absolute;
	width: 180px;
	list-style: none;
}
div#inbox_switcher .dropdown dd ul li.separator {
	border-bottom: 1px solid #e6e6e6;
}
div#inbox_switcher .dropdown dd ul li a {
	display: block;
	padding: 5px 0 5px 0;
}

div#inbox_switcher .dropdown dd ul li a:hover {
	text-decoration: underline;
}


/***********
 Mail Table 
***********/

#mail_table
{
    width: 100%;
    table-layout: fixed;
}

#mail_table thead td, #mail_table tfoot td
{
    border: 0;
    text-align: right;
}

#mail_table th
{
    color: #2C4B70;
    border-bottom: 2px solid #C0D4FF;
    font-weight: bold;
}
#mail_table td
{
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 5px;
}

#mail_table td, #mail_table th
{
    min-height: 21px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 13px;
    line-height: 19px;
}

#mail_table .date, #mail_table .size
{
    text-align: center;
}

#mail_table .date
{
    text-align:right;
    width: 120px;
    padding-right: 17px;
}
#mail_table .from
{
    width: 35%;
}
#mail_table .size
{
    width: 63px;
}
#mail_table td.attachment,
#mail_table th.attachment
{
    width: 41px;
}

#mail_table th.attachment img,
#mail_table th.checkbox img
{
	width: 16px;
	height: 16px;
}

#mail_table th.attachment img
{
	background: url(../images/paper-clip.png) no-repeat;
}


#mail_table th.checkbox img
{
	background: url(../images/ui-check-boxes.png) no-repeat;
}

#mail_table td.checkbox,
#mail_table th.checkbox
{
    width: 27px;
}
#mail_table th.checkbox
{
    text-align: left;
    padding-left: 5px;
}
#mail_table a.checkbox
{
    background: url(../images/ui-check-box-uncheck.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

#mail_table a.checkbox.active
{
    background: url(../images/ui-check-box.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

#mail_table a.facebook
{
    min-height: 16px;
    display: inline-block;
    padding-left: 21px;
    line-height: 17px;
    vertical-align: bottom;
    background: url(../images/facebook.png) no-repeat;
}

#mail_table a.studivz
{
    min-height: 16px;
    display: inline-block;
    padding-left: 21px;
    line-height: 17px;
    vertical-align: bottom;
    background: url(../images/studivz.png) no-repeat;
}


#mail_table a.user_male
{
    min-height: 16px;
    display: inline-block;
    padding-left: 21px;
    line-height: 17px;
    vertical-align: bottom;
    background: url(../images/user.png) no-repeat;
}

#mail_table a.order img
{
    vertical-align: bottom;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    background: url(../images/sort.png) no-repeat;
}

#mail_table a.attachment
{
    vertical-align: bottom;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    background: url(../images/paper-clip-small.png) no-repeat;
}

#mail_table a.noattachment
{
    vertical-align: bottom;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    background: url(../images/no-attachment.png) no-repeat;
}

